<div class="sentiment section">
  <div class="period-section">
    <div class="section-title">
      <h2>
        {{i18n "discourse_ai.sentiments.dashboard.title"}}
      </h2>

      <DashboardPeriodSelector
        @period={{this.period}}
        @setPeriod={{this.setPeriod}}
        @startDate={{this.startDate}}
        @endDate={{this.endDate}}
        @setCustomDateRange={{this.setCustomDateRange}}
      />
    </div>
  </div>

  <div class="section-body">
    <div class="charts">
      <AdminReport
        @dataSourceName="overall_sentiment"
        @filters={{this.filters}}
        @showHeader={{true}}
      />

      <AdminReport
        @dataSourceName="post_emotion"
        @filters={{this.filters}}
        @showHeader={{true}}
      />
    </div>
  </div>
</div>