{{body-class "discourse-ai-bot-conversations-page"}}

<div class="custom-homepage__content-wrapper">
  <h1>{{i18n "discourse_ai.ai_bot.conversations.header"}}</h1>
  <div class="custom-homepage__input-wrapper">
    <textarea
      {{didInsert this.setTextArea}}
      {{on "input" this.updateInputValue}}
      {{on "keydown" this.handleKeyDown}}
      id="custom-homepage-input"
      placeholder={{i18n "discourse_ai.ai_bot.conversations.placeholder"}}
      minlength="10"
      rows="1"
    />
    <DButton
      @action={{this.aiBotConversationsHiddenSubmit.submitToBot}}
      @icon="paper-plane"
      @title="discourse_ai.ai_bot.conversations.header"
      class="ai-bot-button btn-primary ai-conversation-submit"
    />
  </div>
  <p class="ai-disclaimer">
    {{i18n "discourse_ai.ai_bot.conversations.disclaimer"}}
  </p>
</div>