<div class="ai-bot-conversations">
  <div class="ai-bot-conversations__persona-selector">
    <DropdownSelectBox
      class="persona-llm-selector__persona-dropdown"
      @value={{this.selectedPersona}}
      @valueProperty="username"
      @content={{this.personaOptions}}
      @options={{hash icon="robot" filterable=this.filterable}}
      @onChange={{this.selectedPersonaChanged}}
    />
  </div>

  <div class="ai-bot-conversations__content-wrapper">

    <h1>{{i18n "discourse_ai.ai_bot.conversations.header"}}</h1>
    <div class="ai-bot-conversations__input-wrapper">
      <textarea
        {{didInsert this.setTextArea}}
        {{on "input" this.updateInputValue}}
        {{on "keydown" this.handleKeyDown}}
        id="ai-bot-conversations-input"
        placeholder={{i18n "discourse_ai.ai_bot.conversations.placeholder"}}
        minlength="10"
        rows="1"
      />
      <DButton
        @action={{this.aiBotConversationsHiddenSubmit.submitToBot}}
        @icon="paper-plane"
        @title="discourse_ai.ai_bot.conversations.header"
        class="ai-bot-button btn-primary ai-conversation-submit"
      />
    </div>
    <p class="ai-disclaimer">
      {{i18n "discourse_ai.ai_bot.conversations.disclaimer"}}
    </p>
  </div>
</div>