{{#if this.searchEnabled}}
  <div class="semantic-search__container search-results" role="region">
    <div
      class="semantic-search__results"
      {{did-insert this.setup}}
      {{did-insert this.debouncedSearch}}
      {{will-destroy this.teardown}}
    >

      <div
        class="semantic-search__searching {{if this.searching 'in-progress'}}"
      >
        <DToggleSwitch
          disabled={{this.searching}}
          @state={{this.showingAIResults}}
          title="AI search results hidden"
          class="semantic-search__results-toggle"
          {{on "click" this.toggleAIResults}}
        />
        <div class="semantic-search__searching-text">
          {{d-icon "discourse-sparkles"}}
          {{this.searchStateText}}
        </div>
        {{#if this.searching}}
          <span class="semantic-search__indicator-wave">
            <span class="semantic-search__indicator-dot">.</span>
            <span class="semantic-search__indicator-dot">.</span>
            <span class="semantic-search__indicator-dot">.</span>
          </span>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}