<div
  id="related-topics"
  class="more-topics__list {{if this.hidden 'hidden'}}"
  role="complementary"
  aria-labelledby="related-topics-title"
  data-mobile-title={{i18n "discourse_ai.related_topics.pill"}}
  data-list-id={{this.listId}}
>
  <h3 id="related-topics-title" class="more-topics__list-title">
    {{i18n "discourse_ai.related_topics.title"}}
  </h3>
  <div class="topics">
    <BasicTopicList @topics={{this.relatedTopics}} />
  </div>
</div>