{{#if this.singleBotEnabled}}
  <DButton
    @class="icon btn-flat"
    @action={{this.singleComposeAiBotMessage}}
    @icon="robot"
  />
{{else}}
  <DButton
    @class="icon btn-flat ai-bot-toggle-available-bots"
    @action={{this.toggleBotOptions}}
    @icon="robot"
  />
  {{#if this.open}}
    <div class="ai-bot-available-bot-options">
      <div
        class="ai-bot-available-bot-options-wrapper"
        {{did-insert this.registerClickListener}}
        {{will-destroy this.unregisterClickListener}}
      >
        {{#each this.botNames as |bot|}}
          <DButton
            @class="btn-flat ai-bot-available-bot-content"
            @translatedTitle={{bot.humanized}}
            @translatedLabel={{bot.humanized}}
            @action={{action "composeMessageWithTargetBot" bot.modelName}}
          />
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/if}}