<DModalBody @title="discourse_ai.summarization.title">
  <span>{{i18n "discourse_ai.summarization.description"}}</span>
  <ComboBox
    @value={{this.sinceHours}}
    @content={{this.sinceOptions}}
    @onChange={{action this.summarize}}
    @valueProperty="value"
    @class="summarization-since"
  />

  <div class="channel-summary">
    <ConditionalLoadingSpinner @condition={{this.loading}} />

    {{#unless this.loading}}
      <Textarea @value={{this.summary}} disabled="true" class="summary-area" />
    {{/unless}}
  </div>

</DModalBody>

<div class="modal-footer">
  <DModalCancel @close={{route-action "closeModal"}} />
</div>